<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script src="scripts/vendor/vexflow-debug.js"></script>
<script src="scripts/vendor/tabdiv-debug.js"></script>

<div class="block left">
  <div class="leftcontents">
    
    <object width="825" height="540">
    <param name="movie" value="https://www.youtube.com/v/fZILmuuKgXY?autoplay=1&version=3"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowScriptAccess" value="always"></param>
    <embed class=" " src="https://www.youtube.com/v/fZILmuuKgXY?autoplay=1&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="825" height="540"></embed>
    </object>
  </div>
  <div>

    <canvas class="leftcontents bot" id="mycanvas" width="825" height="250"></canvas>
    
  </div>
  

</div>
<div class="rightcontents">
  <div id="viewer" class="bgwhite">
    
  </div>
</div>
<script type="text/javascript">
    var smoothie = new SmoothieChart({maxValue:250,minValue:0});
    smoothie.streamTo(document.getElementById("mycanvas"));
    var line1 = new TimeSeries();
    smoothie.addTimeSeries(line1);  

    $(document).ready(function() {
      $.ajax({
          type: "GET",
          url: "../scripts/templates/1test2300.csv",
          dataType: "text",
          success: function(data) {
            processData(data);
          }
        });
    });

    function processData(allText) {
        var allTextLines = allText.split(/\r\n|\n/);
        console.log(allTextLines.length);
        
        var i = 0;
        
        function timeout() {
            setTimeout(function () {
                // Do Something Here
                // Then recall the parent function to
                // create a recursive loop.
                if(i < 605){
                  var target = allTextLines[i].split(',');
                  line1.append(new Date().getTime(), target[1]);
                }
                i++;
                timeout();
            }, 106);
        }
        // Add to SmoothieChart
        timeout();
    }
    function pushLine() {
      line1.append(new Date().getTime(), Math.random());
    }
    
    // source: http://stackoverflow.com/a/901144
      function getParameter(name) {
        name = name.replace(/\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
        var results = regex.exec(window.location.search);
        if (results == null) return undefined;
        else return decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      var doc = null;
      $(document).ready(function() {
        var req = new XMLHttpRequest();
        var uri = getParameter('doc');
        if (! uri) uri = 'scripts/vendor/score-div/musicxml/basic2.xml';
        req.open('GET', uri, true);
        req.onreadystatechange = function() {
          if (req.readyState != 4) return;
          doc = new Vex.Flow.Document(req.responseText);
          console.log(doc);
          doc.getFormatter().setWidth(800).draw($("#viewer")[0]);
          
        };
        console.log(req);
        req.send(null);
      });
  </script>