    <!-- Page Content -->
    <div class="contents container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bass Lesson List</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Bass Lesson List</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Lesson One -->
        <div class="row block">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://img.youtube.com/vi/jx4XRWkHT7E/maxresdefault.jpg
" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>Lesson One</h2>
                <h3>펜타토닉 스케일 기본</h3>
                <h4>C코드 펜타토닉 스케일의 기본을 밴드 '논' 및 '밤신사'의 베이시스트를 맡고있는 정주영씨의 강의를 통해서 알아본다.</h4>
                <a class="btn btn-primary go-lesson" href="lesson/1">View Lesson</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Lesson Two -->
        <div class="row block">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://img.youtube.com/vi/SCjR62pbiuk/maxresdefault.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>Lesson Two</h2>
                <h3>락앤롤 스타일 잼 기본</h3>
                <h4>A 코드 락앤롤 스타일 잼의 기본을 밴드 '논' 및 '밤신사'의 베이시스트를 맡고있는 정주영씨의 강의를 통해서 알아본다.</h4>
                <a class="btn btn-primary go-lesson" href="lesson/2">View Lesson</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Lesson Three -->
        <div class="row block">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://img.youtube.com/vi/ruPdN_qxSEQ/maxresdefault.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>Lesson Three</h2>
                <h3>Subheading</h3>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</h4>
                <a class="btn btn-primary" href="portfolio-item.html">View Lesson</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Lesson Four -->
        <div class="row block">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://img.youtube.com/vi/SCjR62pbiuk/maxresdefault.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>Lesson Four</h2>
                <h3>Subheading</h3>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</h4>
                <a class="btn btn-primary" href="portfolio-item.html">View Lesson</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Lesson Five -->
        <div class="row block">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://img.youtube.com/vi/Cdf8H4mHTbQ/maxresdefault.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>Lesson Five</h2>
                <h3>Subheading</h3>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</h4>
                <a class="btn btn-primary" href="#">View Lesson</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Copyright &copy; BK Studio 2014</h4>
                </div>
            </div>
        </footer>

    </div>