<div id="top-bar">
    <div class="row">
        <div class="large-12 columns">
            <!-- left text -->
            <div class="left-text left">
                <div class="html">left top menu list
                    <li>menu1
                    </li>
                    <li>menu2
                    </li>
                </div><!-- .html -->
            </div>
            <!-- right text -->
            <div class="right-text right">
                <div class="html">right top menu list
                    <li>menu1
                    </li>
                    <li>menu2
                    </li>
                </div><!-- .html -->
            </div><!-- .pos-text -->
        </div><!-- .large-12 columns -->
    </div><!-- .row -->
</div><!-- .#top-bar -->

<div class="sticky-wrapper">
    <header id="masthead" class="site-header" role="banner">
        <div class="row"> 
            <div class="large-12 columns header-container">
                <div class="mobile-menu show-for-small"><a href="#open-menu"><span class="icon-menu"></span></a></div><!-- end mobile menu -->

                <div id="logo" class="logo logo-left">
                    <a href="" title="" rel="home">Beauting</a>
                </div><!-- .logo -->

                <div class="logo-center">
                    <ul id="site-navigation" class="header-nav">
                        <input type="text">
                        <a href="#" class="nav-top-link icon-search" onClick="return false;">검색</a>
                    </ul>
                </div><!-- .left-links -->

                <div id="logo" class="logo logo-right">
                    <a href="" rel="home">image</a>
                </div><!-- .logo -->
            </div><!-- .large-12 -->
        </div><!-- .row -->
    </header><!-- .header -->
</div><!-- .sticky-wrapper -->
